<div class="p-4 bg-white rounded shadow relative">
    <div class="p-2 space-y-4">
        <div class="flex items-center space-x-4">
            <div class="w-1/6">
                @if (job().company_image) {
                    <img 
                        [src]="job().company_image" 
                        alt="Company Logo" 
                        class="w-full h-auto rounded" 
                        width="96px">
                } @else {
                    <div class="w-full h-24 bg-gray-200 rounded flex items-center justify-center">
                        <i class="fas fa-building text-gray-400 text-4xl"></i>
                    </div>
                }
            </div>

            <div class="w-4/6">
                <div class="space-y-2">
                    <p class="text-xl font-bold">{{job().title}}</p>
                    <p class="text-gray-600">{{job().company}}</p>
                    <p class="flex items-center gap-2">
                        <span>&#128205;</span> {{job().location}}
                    </p>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between">
            <p class="text-gray-400 text-sm mt-3">Publicado el {{job().posted_date}}</p>
            <img src="path/to/49percent.png" alt="49%" class="w-10 h-10">
        </div>
    </div>
    <!-- Ícono en la esquina superior derecha -->
    <i class="fas fa-ellipsis-v text-gray-600 text-2xl absolute top-4 right-5 cursor-pointer"></i>
</div>
