<div class=" h-full overflow-y-scroll  p-2">
  <!-- Lista de tarjetas -->
  <div class="space-y-2">
      <!-- Tarjeta 1 -->
       <div class="p-4 bg-white rounded shadow">
        <div class="p-2 space-y-4">
            <div class="flex items-center space-x-4">
                <div class="w-1/6">
                    <img src="path/to/company-logo.png" alt="Company Logo" class="w-full h-auto rounded">
                </div>
                <div class="w-4/6">
                    <div class="space-y-2">
                        <div class="flex items-center justify-between">
                            <p class="text-xl font-bold">Backend Developer</p>
                            <i class="fas fa-ellipsis-v text-gray-600 text-2xl ml-2"></i>
                        </div>
                        <div class="flex items-center justify-between">
                            <p class="text-gray-600">Talently</p>
                        </div>
                        <p class="flex items-center gap-2"><span>&#128205;</span> Lima, Perú</p>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-between">
                <p class="text-gray-400 text-sm mt-3">Publicado el 24/09/2024</p>
                <img src="path/to/49percent.png" alt="49%" class="w-10 h-10">
            </div>
        </div>
       </div>

      <!-- Tarjeta 2 -->
      <div class="p-4 bg-gray-200 rounded shadow">
          <h2 class="text-lg font-bold">Card 2</h2>
          <p class="text-gray-700">Content for card 2.</p>
      </div>
      <!-- Tarjeta 3 -->
      <div class="p-4 bg-gray-200 rounded shadow">
          <h2 class="text-lg font-bold">Card 3</h2>
          <p class="text-gray-700">Content for card 3.</p>
      </div>
      <!-- <job-summary></job-summary> -->
      <!-- Añade más tarjetas según sea necesario -->
  </div>
</div>

